<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowbio.database.efn.modules.fa.mapper.FaVariantsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nowbio.database.efn.modules.fa.model.FaVariants">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="chr" property="chr" />
        <result column="position" property="position" />
        <result column="ref" property="ref" />
        <result column="alt" property="alt" />
        <result column="info" property="info" />
        <result column="gene_symbol" property="geneSymbol" />
        <result column="interpro_number" property="interproNumber" />
        <result column="ko_number" property="koNumber" />
        <result column="go_number" property="goNumber" />
        <result column="vulturine_kenya" property="vulturineKenya" />
        <result column="wild_sudan" property="wildSudan" />
        <result column="wild_nigeria" property="wildNigeria" />
        <result column="wild_kenya" property="wildKenya" />
        <result column="domestic_sudan" property="domesticSudan" />
        <result column="domestic_nigeria" property="domesticNigeria" />
        <result column="domestic_kenya" property="domesticKenya" />
        <result column="domestic_italy" property="domesticItaly" />
        <result column="domestic_iran" property="domesticIran" />
        <result column="domestic_hungary" property="domesticHungary" />
        <result column="domestic_china" property="domesticChina" />
    </resultMap>

    <select id="mycount"   resultType="java.lang.Integer">
        select count(id) from fa_variants
    </select>
</mapper>
